<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>124227549008-1adbkdmhcno3dc8sojh65u3vva7f4lkh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.124227549008-1adbkdmhcno3dc8sojh65u3vva7f4lkh</string>
	<key>API_KEY</key>
	<string>AIzaSyDSy-LpWxD1YzgfF8CmZqMkZXGNzlilTBY</string>
	<key>GCM_SENDER_ID</key>
	<string>124227549008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fininfocom.task</string>
	<key>PROJECT_ID</key>
	<string>interview-task-2da2e</string>
	<key>STORAGE_BUCKET</key>
	<string>interview-task-2da2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124227549008:ios:8dc32704a23abc88c59e55</string>
</dict>
</plist>